
// Import font-awesome for icons etc
$fa-font-path: '../assets/fonts';
@import 'font-awesome';

.menuitems {
  margin-top: 0px;
  padding: 5px;
  margin-bottom: 0px;
}

locale-fab .fabwrapper {
  margin-top: 50px;
}

ion-content.menucontent {
  div.scroll-content {
    overflow-y: hidden;
  }
}

// ion-fab.localfab {
//   bottom: 0px;
//   left: 5px;
// }

ion-fab.huge {
  width: 100px;
  height: 100px;
  margin: 0px;
  button.fab {
    ion-icon {
      line-height: 100px;
      font-size: 10rem;
    }
    line-height: 100px;
    width: 100px;
    height: 100px;
  }
}
ion-fab[center].huge {
  margin-left: -50px;
}


.highlight {
  color: color($colors, primary);
  font-weight: 500;
}

.headline1 {
  font-size: 20px;
  font-weight: 500;
  color: color($colors, dark)
}
.headline2 {
  font-size: 18px;
  font-weight: 400;
  color: color($colors, dark);
}
.headline2b {
  font-size: 16px;
  font-weight: 500;
  color: color($colors, dark);
}

.subhead1 {
  font-size: 15px;
  text-transform: uppercase;
  color: color($colors, dark);
  font-weight: 500;
}
.subhead2 {
  font-size: 14px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight:500;
}
.subhead3 {
  font-size: 14px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight:400;
}
.subhead4 {
  font-size: 12px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight: 400;
}
.subhead5 {
  font-size: 11px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight: 400;
}
.subheadnc {
  font-size: 13px;
  color: color($colors, primary);
  font-weight: 400;
}
.subheadncb {
  font-size: 13px;
  color: color($colors, primary);
  font-weight: 500;
}
.subheadp {
  font-size: 14px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight: 300;
}

.paragraph {
  font-size: 13px;
  font-weight: 400;
  color: color($colors, dark);
}
.paragraphb {
  font-size: 13px;
  font-weight: 700;
  color: color($colors, dark);
}
.debugtext {
  font-size: 9px;
  font-weight:  300;
  color: black;
}

.coedllogo {
  position: absolute;
  width: 280px;
  right: 10px;
  top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  .coedlimg {
      width: 40px;
      height: 40px;
  }
  .titlecolumn {
      flex-grow: 1;
      max-width: 265px;
      padding-right: 13px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .justifyhack {
    width: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .justifyhack.top {
    font-size: 12px;
    font-weight: 400;
  }
  .justifyhack.bottom {
    font-size: 14px;
    font-weight: 700;
  }
}

@media screen and (max-width: 600px) {
  .coedllogo  {
    display: none;
  }
}
