// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Import font-awesome for icons etc
$fa-font-path: '../assets/fonts';
@import 'font-awesome';

.menuitems {
  margin-top: 52px;
  padding: 5px;
}

local-fab .fabwrapper {
  position: absolute;
  top: 9px;
  left: 5px;
}

ion-content.menucontent {
  div.scroll-content {
    overflow-y: hidden;
  }
}

ion-fab.localfab {
  top: 0px;
  left: 5px;
}

ion-fab.huge {
  width: 100px;
  height: 100px;
  margin: 0px;
  button.fab {
    ion-icon {
      line-height: 100px;
      font-size: 10rem;
    }
    line-height: 100px;
    width: 100px;
    height: 100px;
  }
}
ion-fab[center].huge {
  margin-left: -50px;
}


.highlight {
  color: color($colors, primary);
  font-weight: 500;
}

.headline1 {
  font-size: 20px;
  font-weight: 500;
  color: color($colors, dark)
}
.headline2 {
  font-size: 18px;
  font-weight: 400;
  color: color($colors, dark);
}
.headline2b {
  font-size: 16px;
  font-weight: 500;
  color: color($colors, dark);
}

.subhead1 {
  font-size: 15px;
  text-transform: uppercase;
  color: color($colors, dark);
  font-weight: 500;
}
.subhead2 {
  font-size: 14px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight:500;
}
.subhead3 {
  font-size: 14px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight:400;
}
.subhead4 {
  font-size: 12px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight: 400;
}
.subhead5 {
  font-size: 11px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight: 400;
}
.subheadnc {
  font-size: 13px;
  color: color($colors, primary);
  font-weight: 400;
}
.subheadncb {
  font-size: 13px;
  color: color($colors, primary);
  font-weight: 500;
}
.subheadp {
  font-size: 14px;
  text-transform: uppercase;
  color: color($colors, primary);
  font-weight: 300;
}

.paragraph {
  font-size: 13px;
  font-weight: 400;
  color: color($colors, dark);
}
.paragraphb {
  font-size: 13px;
  font-weight: 700;
  color: color($colors, dark);
}
.debugtext {
  font-size: 9px;
  font-weight:  300;
  color: black;
}
