<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <recipe-viewer *ngIf="showViewer" 
      [recipeAssets]="recipeAssets"
      [translations]="translations"
      [selectedTranslation]="selectedTranslation">
  </recipe-viewer>
  
  <div class="logospinner"> 
    <div class="applogo en" 
      (click)="pressedLogIn()">
    </div>
    <ion-spinner *ngIf="syncing" class="syncspinner" name="crescent">
    </ion-spinner>
  </div>

  <translation-selector *ngIf="showViewer"
      [recipe]="recipe"
      [translations]="translations"
      [selectedTranslation]="selectedTranslation"
      [users]="users"
      [enableAdd]="false"
      (selected)="translationSelected($event)">
  </translation-selector>

  <div *ngIf="workingMessage" class="cooking">
    <div class="message headline1">
      {{workingMessage | translate }}
    </div>
    <ion-spinner></ion-spinner>
  </div>

</ion-content>


