page-details {
  ion-content {
    max-width: 400px;
    .scroll-content {
      overflow-y:hidden;
    }
  }
  .titlerow {
    display: flex;
    flex-basis: row;
    margin-bottom: 15px;
    .textcolumn {
      display: flex;
      flex-basis: column;
      flex-grow: 1;
    }
    .buttoncolumn {
      display: flex;
      flex-basis: column;
    }
  }
  .recipeimage {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    height: 270px;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 6px 0px rgba(40,0,0,0.6);
    button {
      width: 100px;
      height: 100px;
      ion-icon {
        font-size: 100px;
        opacity: 0.7;
      }
    }
  }
  .item-md {
    ion-label.label-md {
      margin: 0px;
    }
    ion-avatar[item-left] {
      margin: 5px 15px 5px 0px;
    }
    margin-bottom: 5px;
  }


  .daterow {
    padding: 2px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }
  tag-edit {
    .tageditwrapper {
      padding: 2px 0px 2px 5px;
    }
  }
  lang-edit {
    .langeditwrapper {
      padding: 2px 0px 2px 5px;
    }
  }
  status-icons {
    .iconrow {
      margin: 5px 5px 0px 5px;
    }
  }
  .padding {
    padding: 2px 5px 2px 5px;
  }
}
  

.popover-md.details .popover-content {
  overflow-y: hidden;
  width: 400px;
  border-radius: 20px;
}
